html
  include layout/includes.jade
  body
    div.container
      div.header.clearfix
        nav
          ul.nav.nav-pills.float-xs-right
            li.nav-item
              a.nav-link(href="https://www.npmjs.com/package/seedux", target="_blank") NPM
            li.nav-item
              a.nav-link(href="https://github.com/reduxify/seedux", target="_blank") Github Repo
            li.nav-item
              a.nav-link(href="https://github.com/reduxify/seedux/issues", target="_blank") Issue Page
              //- h3.page-header.justPurple Seedux
      div.jumbotron.lightpurple
        img(src="/duck")
        div.seeduxLogo SEEDUX
        p.justPurple React-redux dev tool for the Chrome Browser
      div.row.marketing
           div.purpleText.justPurple Features

        div.row.marketing
        div.col-lg-6
          div.card
          div.card-header(role="tab")#headingOne
          h2.justPurple How to Install
            div.sub-header
              br
              div.small
              br
              div.innerTextSize.notpurple
              pre(code) npm install seedux --save-dev
              br
              div.small  Developer Version
              br
              div.innerTextSize.notpurple
              pre(code) seedux_repo_path
              pre(code) run build:both
        div.col-lg-6
          div.card
            div.card-header(role="tab")#headingTwo
            h2.justPurple Getting Started
              ul
                br
                li.innerTextSize.notpurple
                pre(code) // import { combineReducers } from 'redux';
                pre(code) import { combineReducers } from 'seedux';
                li.innerTextSize.notpurple
                pre(code) Import { createStore, dispatchLogger } from 'seedux';
                pre(code) const store = createStore(combinedReducer, preloadedState, applyMiddleware(dispatchLogger));
                li.innerTextSize.notpurple
                pre(code) seeduxInit(store);
                li.innerTextSize.notpurple
                  ul.special
                    li.innerTextSize2.notpurple
                    li.innerTextSize2.notpurple
                    li.innerTextSize2.notpurple
      footer.footer
          div Authors
          a(href="https://github.com/mlampedx", target="_blank")  Michael Lampe /
          = '\n'
          a(href="https://github.com/bartlett705", target="_blank") Ahmad Kanawi /
          = '\n'
          a(href="https://github.com/srei", target="_blank") Stephenie Reimer

