html
  include layout/includes.jade
  body#body
    div.container
      div.header.clearfix
        nav
          ul.nav.nav-pills.float-xs-right
            li.nav-item
              a.nav-link.justPurple(href="https://www.npmjs.com/package/seedux", target="_blank") NPM
            li.nav-item
              a.nav-link.justPurple(href="https://github.com/reduxify/seedux", target="_blank") Github Repo
            li.nav-item
              a.nav-link.justPurple(href="https://github.com/reduxify/seedux/issues", target="_blank") Issue Page
              script.
                $('a').click(function(){
                  $(this).addClass("visted")
                });
      div.jumbotron.lightpurple
        img(src="/duck")
        p#description.justPurple React-redux dev tool for the Chrome Browser
      div.row.marketing
        h2#featureText.justPurple Features
        div#featureDiv.justPurple
          !{readme[0].sectionContent}
      div.row
        div.col-lg-6
          div.card
          div.card-header(role="tab")#headingOne
          h2.justPurple How to Install
          div
          | !{readme[1].sectionContent}
        div.col-lg-6
          div.card
          div.card-header(role="tab")#headingTwo
          h2.justPurple Getting Started
          div
          | !{readme[2].sectionContent}
  footer.footer
    div Authors
      div
      a(href="https://github.com/mlampedx", target="_blank").justPurple  Michael Lampe /
      = '\n'
      a(href="https://github.com/bartlett705", target="_blank").justPurple Ahmad Kanawi /
      = '\n'
      a(href="https://github.com/srei", target="_blank").justPurple Stephenie Reimer
      div#fork


