doctype html
html
  include layout/includes.jade

  head
    title Seedux

  body
    div.container
      div.header.clearfix
        nav
          ul.nav.nav-pills.float-xs-right
            li.nav-item
              a.nav-link(href="#") Home
              span.sr-only(current)
            li.nav-item
              a.nav-link(href="https://www.npmjs.com/package/seedux") NPM
            li.nav-item
              a.nav-link(href="https://github.com/reduxify/seedux") Github Repo
            li.nav-item
              a.nav-link(href="https://github.com/reduxify/seedux/issues") Issue Page
          h3.page-header Seedux
      div.jumbotron
        img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ1gCPetpZBT7xMxosYE7XDcA09jQr8wJ18G2ryi7rrbHULyXB5gw")
        p React-redux dev tool for the Chrome Browser
      div.row.marketing
        div.col-lg-6 Features
                ul
                  li travel functionality for your Redux store
                  li Persistent log of every action dispatched, resulting store diffs, and complete new store
                  li Persistent log of every action dispatched, resulting store diffs, and complete new store
                  li Configurable visualization of actionCreators, reducers, and ui props if using react-redux
                  li Illumination of relevant actionsCreators and reducers upon action dispatch
                  li Settings menu to customize view
                  li Ability to dispatch actions with custom payloads
                  li Import/Export and Stash/Unstash complete store logs from disk or localStorage, respectively
          div.col-lg-6
          div#accordion(role="tablist", aria-multiselectable="true")
          div.card
          div.card-header(role="tab")#headingOne
          h3.mb-0
              a(data-toggle="collapse", data-parent="#accordian", href="#collapseOne", aria-expanded="false", aria-controls="collapseOne") How to Install
            div#collapseOne.collapse(role="tabpanel", aria-labelledby="headingOne")
              div.card-block  NPM Module (recommended)
              br
              div Seedux can be easily installed as a developer dependency with npm using your favorite terminal.
              br
              pre(code) npm install seedux --save-dev
              br
              | Developer Version: Fork and Clone (developer version) To use Seedux development version, fork and clone our Git repository to an easily accessible file path on your computer and run the build:
              pre(code) seedux_repo_path
              pre(code) run build:both
          div.card
            div.card-header(role="tab")#headingTwo
            h3.mb-0
              a.collapsed(data-toggle="collapse", data-parent="#accordian", href="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo") Getting Started
            div#collapseTwo.collapse(role="tabpanel", aria-labelledby="headingTwo")
              div.card-block
              ul
                li import createStore, combineReducers, bindActionCreators, and connect from Seedux, rather than Redux.
                pre(code) // import { combineReducers } from 'redux';
                pre(code) import { combineReducers } from 'seedux';
                li import dispatchLogger from Seedux and apply it as middleware when invoking createStore.
                br
                li import and call seeduxInit, and pass it your newly created store.
                pre(code) import { createStore, dispatchLogger } from 'seedux';
                pre(code) const store = createStore(combinedReducer, preloadedState, applyMiddleware(dispatchLogger));
                pre(code) seeduxInit(store);
                li Last Bit:
                br
                li.nodot Navigate to chrome://extensions
                br
                li.nodot Click 'load as an unpacked extension' & select seedux_repo_path + 'seedux/seeduxChrome'
                br
                li.nodot Open your project using localhost and your port of choice in the Chrome browser.
                br
                li.nodot Click on the seeduxChrome extension icon (it's a duck!) in your toolbar
      footer.footer
          p Authors
          a(href="#") Michael Lampe
          a(href="#") Ahmad Kanawi
          a(href="#") Stephenie Reimer

