.nav-pills .nav-item {
    float: left;
    margin-left: .2rem;
}

.jumbotron{
text-align: center;
box-shadow: 2px 2px 2px 2px #888888;
}

#seeduxLogo {
    color: #4B0082;
    font-size: 40px;
}

.justPurple {
    color: #4B0082;
}

.purpleText {
    font-size: 40px;
    text-align: center;
}

#feature {
    font-size: 35px;
    text-align: center;
}

#featureDiv ul {
  font-size: 20px;
  list-style-type: none;
  text-align: center;
}

p {

}


.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
    font-weight: 500;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}


.float-xs-right {
    float: right!important;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    /*list-style-type: none;*/
}

ul.special {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    /*list-style-type: square;*/
}




li {
    display: list-item;
}

.nodot{
	list-style-type: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}



.marketing {
    margin: 3rem 0;
}

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #c4c4c4
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
}

.notpurple {
	color: #333333;
    font-size: 20px;
}

.textSize {
    font-size: 20px;
}

.innerTextSize{
    font-size: 17px;
}

.innerTextSize2{
    font-size: 16px;
}

pre {
    box-shadow: 0 0px 15px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


