div.row h3 {
    color: #4B0082;
    font-size: 20px;
}

div.row.marking {
    padding: 5%;
    margin: 2%;
}

.card-header {
    padding-top: 5%;
}

h2.justPurple {
    font-size: 32px;
    border-bottom: 2px solid #f5f5f5;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2#featureText {
    text-align: center;
}

#body {
    background-color: #f5f5f5;
}

.container {
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

a.nav-link.justPurple {
    box-shadow: 1px 1px 1px 0px #888888;
}

a.nav-link.justPurple.visted{
    color: #4B0082;
}

ul.nav > li a:hover{
    color: #4B0082;
    float: left;
}

.nav-pills .nav-item {
    border-radius: 7px;
    box-shadow: 0px 0px 0px 1px #e5e5e5;
}

.float-xs-right {
    float: right!important;
}

.jumbotron {
    text-align: center;
    /*box-shadow: 1px 4px px 3px #888888;*/
    border: .5px solid #888888;
}


img {
    box-shadow: 1px 1px 3px 1px;
    height: 22%;
}

#description {
    margin: 0 0 0 0;
    padding: 13px;
    font-size: 30px;
    font-weight: lighter;
}


#seeduxLogo {
    color: #4B0082;
    font-size: 50px;
}

.justPurple {
    color: #4B0082;
}

li {
    margin: 7px 0 7px 0;
}

p {
    font-size: 15px;
}

div.row.marketing {
    top: 50%;
    left: 50%;
}

#featureText {
    font-size: 35px;
    border-bottom: 2px solid #f5f5f5;
}

#featureDiv ul {
  font-size: 15px;
  /*list-style-type: none;*/
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
  padding-right: 20%;
}

.footer {
    padding-top: 1.5rem;
    padding-left: 15px;
    color: #777;
}

/*Material design for code blocks*/
pre {
    box-shadow: 0 0px 15px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}