.no-padding{
	margin: 0;
}

.no-radius{
	border-radius: 0;
}

.text-center{
	text-align:center;
	color:#FF9933;
}

.navbar-light{
	background-color: #ffffe5;
		color:#FF9933;
}

footer{
	background: #555;
	width:100%;
	padding:10px;
	color:#FF9933;
	background-color: #ffffe5;
}

footer h3{
	width: 100%;
}
