/* GENERAL STYLES
----------------------------------------------- */
body {
    background: #FFF;
    width: 896px;
    height: 100%;
    margin: 0 auto;
}

img { 
	max-width: 60%; 
}

li {
    margin: 1% 0 1% 0;
}

.jumbotron p {
    font-size: 30px;
    font-weight: lighter;
}

h1 {
    max-width: 100%;
}

h2.justPurple {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

h2#featureText {
    font-size: 40px;
}

code.lang-javascript {
    color: #30215C;
}

pre {
    /*box-shadow: 0 0px 15px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
    background-color: #e9ecf1;
}

.justPurple {
    color: #4B0082;
}

/* ----- MAIN NAVIGATION ----- */

.nav-pills .nav-item {
    border-radius: 7px;
    font-size: 20px;
}

.float-xs-right {
    float: right;
}

/* ----- LINKS ----- */

a.nav-link.justPurple.visited{
    color: #4B0082;
}

ul.nav > li a:hover{
    float: left;
    color:#4B0082;
}

/* ----- PAGE STRUCTURE ----- */
.container {
    background-color: #fff;
}

/* ----- JUMBOTRON ----- */

div.jumbotron {
    width: 98%;
    margin: 0 auto;
    background-color: #e9ecf1;
    box-shadow: .5px .5px .5px .5px #888888;
}
div.innerjumbo {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
/* ----- ROW ----- */

div.row {
    color: #4B0082;
    font-size: 18px;
}

div.row.marking {
    padding: 5%;
    margin: 2%;
    top: 50%;
    left: 50%;
}

.col-lg-6 {
    padding-top: 5%;
    padding-bottom: 3%;
}

#featureDiv ul {
  font-size: 20px;
  list-style-type: square;
  margin-top: 0;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
  padding-right: 20%;
}

/* --------------- HEADER ------------- */
.header {
    padding-top: 1%;
    padding-bottom: 1%;
}


/* FOOTER 
----------------------------------------------- */

.footer {
    padding-top: 1.5rem;
    padding-left: 15px;
    font-size: 14px;
}

/* WIDE DESKTOP LAYOUT 
----------------------------------------------- */
@media only screen and (min-width: 1176px) {

body { 
    width: 1080px; 
}

}


/* TABLET LAYOUT 
----------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
body {
	width: 712px;
	padding: 20px 28px 0;
}

}

/* MOBILE LAYOUT (PORTRAIT/320PX) 
----------------------------------------------- */

@media only screen and (max-width: 767px) {

body {
	width: 320px;
	padding: 0;
}


/* WIDE MOBILE LAYOUT (LANDSCAPE/480PX) 
----------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
body {
	width: 480px;
	padding: 0;
}