//- footer
//-   .container-fluid.no-padding
//-     nav.navbar.navbar-light.no-radius
//-       ul.nav.navbar-nav
//-         li.nav-item.active
//-           a.nav-link.data(href="https://github.com/reduxify/seedux/issues") Any Issues?


 button.btn.btn-primary(type="button")(data-toggle="collapse")(data-target="#collapseExample") Features
         ul.list-unstyled
            li.Time travel functionality for your Redux store
            li.list-group-item Persistent log of every action dispatched, resulting store diffs, and complete new store
            li.list-group-item Persistent log of every action dispatched, resulting store diffs, and complete new store
            li.list-group-item Configurable visualization of actionCreators, reducers, and ui props if using react-redux.
            li.list-group-item Illumination of relevant actionsCreators and reducers upon action dispatch
            li.list-group-item Settings menu to customize view
            li.list-group-item Ability to dispatch actions with custom payloads
            li.list-group-item Import/Export and Stash/Unstash complete store logs from disk or localStorage, respectively